<!-- contact-form.component.html -->
<div class="container-wrapper">
  <div class="container">
      <h3 class="my-4" style="text-align:center">Contact Us</h3>
      <div class="row">
          <div class="col-md-6">
              <h2 class="mb-4"></h2>
              <!-- Iframe component can be created separately -->
              <app-google-maps></app-google-maps>
          </div>
          <div class="col-md-6">
              <h2 class="mb-4"></h2>
              <form (ngSubmit)="submitForm()">
                  <div class="form-group">
                      <label for="firstName">First Name</label>
                      <input type="text" class="form-control" id="firstName" placeholder="Enter your first name" [(ngModel)]="firstName" name="firstName" required>
                  </div>
                  <div class="form-group">
                      <label for="lastName">Last Name</label>
                      <input type="text" class="form-control" id="lastName" placeholder="Enter your last name" [(ngModel)]="lastName" name="lastName" required>
                  </div>
                  <div class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" class="form-control" id="email" placeholder="Enter your email" [(ngModel)]="email" name="email" required>
                  </div>
                  <div class="form-group">
                      <label for="message">Message</label>
                      <textarea class="form-control" id="message" rows="4" placeholder="Enter your message" [(ngModel)]="message" name="message" required></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
              </form>
          </div>
      </div>
  </div>
</div>
