<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>
          SIT is a renowned tour company, crafting unforgettable travel experiences across India, Nepal, Bhutan, and Sri Lanka. Our team of passionate travel experts is dedicated to providing personalized service and authentic local insights, ensuring every journey is as unique as our clients.
        </p>
      </div>
      <div class="col-md-4">
        <h5>Contact Information</h5>
        <address>
          <strong>SIT Head Office</strong><br>
          [Address]<br>
          [City, State, Zip]<br>
          <p><a href="tel:+911234567890">+91 870087 7594</a></p>
        </address>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="[Your Twitter Link]">
              <i class="fab fa-twitter">twitter</i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="[Your Facebook Link]">
              <i class="fab fa-facebook-f">facebook</i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="[Your LinkedIn Link]">
              <i class="fab fa-linkedin-in">linkedin</i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="footer-separator">
    <div class="row">
      <div class="col-lg-12">
        <p class="copyright text-muted small">
          Copyright &copy; SIT 2023. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
