
<div id="tour-card" class="card mb-3 tour-card">
  <img [src]="tour.imageUrl" class="card-img-top" alt="{{ tour.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ tour.name }}</h5>
    <p class="card-text">{{ tour.description }}</p>
    <!-- Add other details as needed -->
  </div>
</div>

<!-- <div class="tour-card">
  <img [src]="tour.imageUrl" alt="{{ tour.name }}" class="tour-image">
  <h2 class="tour-name">{{ tour.name }}</h2>
  <p class="tour-description">{{ tour.description }}</p> -->
  <!-- Add other details as needed -->
<!-- </div> -->
