h3 {
  text-align: center;
}
.intro {
  padding: 40px;
  text-align: center;
}

.intro-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-family: "Rosario";
  line-height: 25px;
  text-transform: none;
  letter-spacing: 0.5px;
  color: #565656;
}
