
<!-- <div class="sample-tours">
  <h1>Sample Tours</h1>
  <div class="tour-list"> -->
    <!-- Apply *ngFor to a div, not to the app-tour component -->
    <!-- <div *ngFor="let tour of tours">
      <app-tour [tour]="tour"></app-tour>
    </div>
  </div>
</div> -->
<div class="container">
  <h3>Sample Tours</h3>
  <div class="intro">
    <span class="intro-text">
  <p>Our sample tours are just a starting point, ready for your unique imprint. Each journey is a malleable masterpiece, crafted to mirror your desires and dreams. But the true essence of exploration lies in creating an exclusive voyage through India, tailored just for you.
    Join us in transcending the ordinary, where the art of travel is defined by boundless adaptability. Together, we'll sculpt an odyssey that echoes your passion for adventure and unveils the secrets of this vibrant land.</p>
  </span></div>
    <div class="row">
    <div class="col-md-3" *ngFor="let tour of tours">
      <app-tour [tour]="tour"></app-tour>
    </div>
  </div>
</div>
<!-- <div class="sample-tours">
  <h1>Sample Tours</h1>
  <div class="tour-list">
    <app-tour *ngFor="let tour of tours" [tour]="tour"></app-tour>
  </div>
</div> -->
