
    <div>
        <!-- //left side -->
        <div style="width:30%;float:left;">
            <div class="logo-img">
                <img src="/assets/images/SAROJ INDIA TRAVELLERS Logo 1.jpg" alt="Web Site Logo" class="logo-style">
                <div style="text-align: center;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>

            </div>

        </div>
        <!-- //right side -->
        <div style="width:70%;float:right;">
            <div style="margin-top:40px;">
                <app-home-slider></app-home-slider>
                <div class="intro">
                    <span class="intro-text">
                        <p>
                            SIT, India’s leading Destination Management Company offers travel and related services to
                            India,
                            Nepal, Bhutan and Sri Lanka, each supported by dedicated local teams with over 400
                            experienced
                            professionals across 25 offices. Our people have a passion for their locale and the
                            willingness
                            to
                            always go the extra mile. The company offers a unique consultative approach, warm
                            personalised
                            service and above all, the execution of creative ideas that reveal each destination’s
                            authentic
                            character.
                        </p>

                        <p>
                            Building on a foundation of integrity, commitment and service excellence, sustainability is
                            a
                            priority in every aspect of the organisational operation with defined tactics and
                            principles.
                            The
                            company’s success lies firmly grounded in the belief that its activities must be rewarding
                            for
                            all
                            the stakeholders and partners.
                        </p>

                        <p>
                            SIT has received many awards and acclaim, as a testimony to its excellence.
                        </p>
                    </span>
                </div>
                <div style="height:400px;">
                    <app-experiences></app-experiences>
                </div>
            </div>
            <div class="sample-tours">
              <app-sample-tours></app-sample-tours>
          </div>
            <div class="contact-form">
              <app-contact></app-contact>
          </div>

          <div class="footer">
            <app-footer></app-footer>
          </div>
        </div>

    </div>

